<div class="pull-left">
  <% if @order.order_placed? || @order.paid? %>
    <%= link_to("申请取消订单", apply_to_cancel_order_path(@order.token), method: :post, class: "btn  btn-info") %>
  <% end %>
</div>
<% if !@order.is_paid? %>
  <div class="group pull-right">
    <%= link_to("以支付宝支付", pay_with_alipay_order_path(@order.token), :method => :post, :class => "btn btn-danger") %>
    <%= link_to("以微信支付", pay_with_wechat_order_path(@order.token), :method => :post, :class => "btn btn-danger") %>
  </div>
<% else %>
  <h2 class="text-center text-primary">此订单已完成付款 </h2>
<% end %>